.app {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* z-index: 1; */
  background-color: black;
}
canvas {
  background-color: black;
}

.rotation-speed {
  display: flex;
  position: absolute;
  background: black;
  color: #02feff;
  font-family: arial;
  z-index: 2;
  padding: 20px;
  border: 1px solid;
  border-radius: 10px;
}

.title {
  display: flex;
  font-size: 16px;
  transform: rotate(270deg) translateX(-80px);
}
.rotation-speed ul {
  list-style: none;
  padding: 0;
}
